alias c="clear"
#alias l="colorls -lA --sd"
#alias l="ls -la"
#alias ld="ls -ldh"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias brc="vim ~/.bashrc"

alias cdocker='docker-compose'
alias ydl='youtube-dl -x --audio-format mp3 --audio-quality 0 --no-playlist -o "$HOME/Music/youtube-dl/%(title)s.%(ext)s"'
alias ydl-list='youtube-dl -x --audio-format mp3 --audio-quality 0 --yes-playlist -o "$HOME/Music/youtube-dl/%(title)s.%(ext)s"'

alias cat="bat"

# AWS
alias awscf='aws cloudformation'

# PMD
pmd_version=6.0.1
alias pmd="$HOME/pmd-bin-$pmd_version/bin/run.sh pmd"
alias cpd="$HOME/pmd-bin-$pmd_version/bin/run.sh cpd"

# Gradle
alias gw="gw --console=plain"
alias gradle="gradle --console=plain"

# Git
alias gl="git pull"
alias gp="git push"
alias gbn="git bname | pbcopy"

# Exa https://github.com/ogham/exa
alias lr="exa --group-directories-first --header --long --recurse --group --modified --created --git --all --all"
alias lrt="exa --group-directories-first --header --tree --long --recurse --group --modified --created --git"
alias l="exa --group-directories-first --header --long --group --modified --created --git --all --all"
alias ls="exa --group-directories-first -1"

# maconly!
alias pbc='pbcopy'
alias pbp='pbpaste'
