#!/usr/bin/env bash

# --listfn([toolName = runcom/.functions]) {
listfn () {
  function_path="$HOME/dotfiles/tools"
  if ! [ -z "$1" ]
  then
    function_path="$function_path/$1"
  else
    function_path="$HOME/dotfiles/runcom"
  fi

  fname=$2
  for f in `find "$function_path" -name '*functions*' -maxdepth 2 -type f`
  do
    ag --no-numbers --no-filename --no-color -o "^# --(function\ )?\K(.*${fname}.*)(?=\{)" "$f"
  done
  echo '---'
}

# --print_cmd_exists(commandName) {
print_cmd_exists() {
  if command_exists "$1"
  then
    echo 'yes'
  else
    echo 'no'
  fi
}

source_recursive() {
  dir="$1"
  if ! [ -d "$dir" ]
  then
    return
  fi

  current=$(pwd)
  for x in `find $dir -maxdepth 1 -mindepth 1 -type d`
  do
    if [[ "$x" != "$current" ]]
    then
      source_for_command "$x"
    fi
  done
}

source_for_command() {
  cmd="${1##*/}"

  # Env files will always be sourced in the hopes that they
  # don't hurt anyone
  for f in `find $1 -name ".env.source" -type f`
  do
    source "$f"
  done

  if command_exists "$cmd"
  then
    for f in `find $1 \( -not -name '.env.source' -a -name '.*.source' \) -type f`
    do
      source "$f"
    done
  fi
}

make_link() {
  ln -sfv $1 $2
}

mk() {
  mkdir -p $1 && cd $_
}

open_conns() {
  netstat -nat | awk '{print $6}' | sort | uniq -c | sort -n
}

command_exists() {
  type $1 1>/dev/null 2>/dev/null
}

cag() {
  if command_exists ag
  then
    ag $1 --numbers --pager less --stats --nopager "${@:2}"
  else
    echo 'Ag not installed, visit: https://github.com/ggreer/the_silver_searcher'
  fi
}

