snippet sec "Variable section"
" $1 -------------------- {{{
$2
" }}}
endsnippet

snippet ftsec "Filetypesection"
" $1 -------------------- {{{
augroup $2
	autocmd!
	au Filetype $3
augroup END
" }}}
endsnippet
