*.log
bin
.dotfiles.*
**/tags
.local/
repos
tools/vim/.vim/bundle
tools/vim/.vim/autoload/plug.vim
tools/vim/.vim/doc
xdg/.local
xdg/.config
xdg/.config/nvim/*
xdg/.config/configstore/*
xdg/.config/git/*
!xdg/.config/nvim/coc-settings.json
