bin
repos
sdks
**/tags
**/*.tar.gz*
**/*.deb
.vim/bundle
.vim/autoload/plug.vim
.vim/autoload/plug.vim.old
.vim/colors
.vim/doc
.vim/plugged
.vim/.netrwhist
.vim/.vim

xdg/.local
xdg/.config
xdg/.config/nvim/*
xdg/.config/configstore/*
xdg/.config/git/*
!xdg/.config/nvim/coc-settings.json

**/*.swn
**/*.swo
**/*.swp
node_modules
package.json
package-lock.json
