.config
.config.new
**/*.swp
**/plug.vim*
**/pathogen.vim
.config/nvim/nvim
**/*.orig
**/vim-markdown-preview.html
**/tags
**/eclim/*.xmi
**/*.jar
.local/
**/.netrwhist
**/plugged/
**/.nvm
**/logs
.local/share/nvim/site/autoload/plug.vim
