[user]
	name = Pedro Silva
	email = pedro.silva@sky.uk
[alias]
  lg = --no-pager log --oneline -n
	unstage = reset HEAD --
[core]
	autocrlf = input
  editor = /usr/bin/vim
	excludesfile = /Users/$USER/.gitignore_global
[diff]
  external = git_diff_wrapper
[grep]
	lineNumber = true
[merge]
	;tool = splice
  tool = vimdiff
  conflictStyle = diff3
[mergetool]
	prompt = false
[mergetool "splice"]
  cmd = "nvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
