snippet declarr "Declare array from param"
declare -a $1=(\$@)
$2
endsnippet

snippet declarrin "Declare input multiple arrays"
declare -a $1=("${!$2}")
$3
endsnippet

snippet case "Switch case"
[ -z "$POSITIONAL" ] || unset "$POSITIONAL"
while [[ $# -gt 0 ]]
do
	case "\$1" in
		-$1|--$2)
			$3
			shift
			;;
		*)
		POSITIONAL+=("\$1")
		shift
		;;
	esac
done

set -- "${POSITIONAL[@]}"
endsnippet

