snippet case "b"
while [[ $# -gt 0 ]]
do
  key="\$1"
  case $key in
		-$1|--$2)
			$3
			# might have to shift 2 if you use more than 1. In that case it would be:
			# shift 2
			shift ;;
    *)
      POSITIONAL+=("\$1")
      shift
      ;;
  esac
done

(( ${verbose:-0} )) && set -x

set -- "$@" "${POSITIONAL[@]}"
endsnippet
