[user]
[alias]
  st = status -s --show-stash --branch -uall
  stl = status --long --branch --show-stash -uall -vv
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
  ch = checkout
  au = add -u
  aa = add -A
  cm = commit -m
  br = branch -vv
  brr = branch -r -vv
	unstage = reset HEAD --
  chall = checkout -- .
  bname = rev-parse --abbrev-ref HEAD
  tagd = push --delete origin
  tagp = push --tags
  tagf = fetch --tags
[core]
	autocrlf = input
  editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
;[diff]
  ;external = /usr/local/bin/git_diff_wrapper
[grep]
	lineNumber = true
[merge]
	;tool = splice
  tool = vimdiff
  conflictStyle = diff3
[mergetool]
	prompt = false
[mergetool "splice"]
  cmd = "nvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
  trustExitCode = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
